# IntelliJ IDEA specific files
*.iml
.idea/
.DS_Store

# Gradle specific files
.gradle
/build/
local.properties

# Android specific files
/captures
.externalNativeBuild
.cxx

# Log files
*.log

# OS specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.swp
